.otsikko {
  color: white;
  font-size: 4.2vw;
  text-align: center;
  margin-top: 5vw;
}
/* lisätty 11.3.*/
#product-list,
.hakutulokset {
  padding: 10px;
  max-width: 1200px;
  margin: auto;
}

/* tuokuvat ja tekstit*/
.product-preview-item {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: rgb(120, 173, 175);
  align-items: center;
  border-radius: 8px;
  border: 2px solid #ccc; /* Kehyksen tyyli, leveys ja väri */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Lisää varjostus */
}

#product-previews,
#product-list,
.tuote,
.product {
  padding: 5px;
  max-width: 600px;
  margin:auto;
  background-color: rgb(120, 173, 175);
  display: block;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #ccc; /* Kehyksen tyyli, leveys ja väri */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Lisää varjostus */
}

#product-previews {
  margin-top: 370px;
}

.tuote h3 {
  margin: 0;
}

.product-preview-item img {
  max-width: 1200px;
  padding: 5px;
  border-radius: 8px;
  border: 2px solid #ccc; /* Kehyksen tyyli, leveys ja väri */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Lisää varjostus */
}

#product-form {
  max-width: 1200px;
  margin:5px;
  background-color: rgb(40, 134, 3);
  padding: 0;
}

.otsikko1 {
  max-width: 1200px;
  margin:auto;
  background-color: white;
  padding: 10px;
}

.product-name {
  padding-left: 5px;
}

/* lisätty 27.2.2024 kuvan ja tuotetekstin väliin tilaa*/
.product-details {
  margin: 10px;
  flex: 1;
}

#tuotteenNimi {
  margin: 5px;
}

p {
  margin: 0;
  padding-left: 10px;
}

.deleteButton {
  margin-right: auto;
  align-self: flex-start;
  padding: 0;
  color:rgb(0, 0, 0);
  font-weight: bolder;
  font-size: large;
  width: 100px;
  height: 50px;
  border-radius: 8px;
}

.logo {
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  width: 8%;
}

.logo1 {
  display: flex;
}

.logo img {
  margin-right: 50px; /* Lisää välistystä logon ja otsikon välille */
  margin-left: 300px;
  width: 100px; /* Voit muuttaa koon haluamaksesi */
  height: auto; /* Säilyttää kuvan suhteen oikean */
}

.logo1 img {
  margin-left: auto;
  width: 11vw; /* Voit muuttaa koon haluamaksesi */
  height: 8vw; /* Säilyttää kuvan suhteen oikeana */
}


#lisaaTuotteet {
  display: none;
  max-width: 1200px;
  position: absolute;
  margin-top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);}

#tuote-lomake-container {
display: flex;
}

#tuote-lomake {
  flex: 1; /* Annetaan lomakkeelle joustavuutta */
  margin-right: 20px; /* Lisätään välistystä lomakkeen ja logon välille */
}

#haku {
  width: 50%; /* Määrittele hakukentän leveys */
  margin: 0 auto; /* Aseta marginaali automaattisesti vaakasuunnassa keskittämistä varten */
  text-align: center; /* Aseta tekstin keskitys hakukentässä */
}

/* lisätty 11.3. */
#product-list,
#kategoriaTuotteet-item {
  width: 50%; /* Määrittele hakutulosten divin leveys */
  margin: 0 auto; /* Aseta marginaali automaattisesti vaakasuunnassa keskittämistä varten */
  text-align: left; /* Aseta tekstin vasen reunus hakutuloksissa */
  background-color: aliceblue;
  border: 1px solid black; /* Lisää kehys laatikon ympärille */
  border-radius: 8px;
  padding: 10px; /* Lisää sisätilaa sisällölle */
}

.logo1 {
  flex: 0 0 auto; /* Määritetään logo kiinteäksi leveydeksi */
}

input:hover,
.kategoria,
.tyyppi,
.lataa,
.deleteButton {
  cursor: url("../kuvat/handy.webp"), auto;
}

/* NÄYTTÖ > 1920 ----------------------------------------*/

@media only screen and (min-width: 1920px) {

.logo1 img {
  margin-left: auto;
  width: 9vw;
  height: 6vw;
  }
}

/* MOBIILI ----------------------------------------*/

@media only screen and (max-width: 1000px) {

  .logo {
    display: none;
  }

  .logo1 img {
    display: none;
    }

  #product-previews,
  #product-list,
  .tuote,
  .product {
    padding: 5px;
    width: 95%;
    margin: auto;
  }
}

