/* MEDIA QUERYT ----------------------------------------*/

@media (max-width: 1000px) {

  body::before {
    display: block;
    content: "";
    height: 200px;
  }

  .lomake {
    top: 0%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  .ylaPalkki {
    height: 180px !important;
  }

  #ylaPalkkiTeksti1,
  #ylaPalkkiTeksti2 {
    white-space: nowrap;
    margin-top: 15px;
    font-size: 5.5vw !important;
  }

  #otsikko {
    margin-top: -70px;
    font-size: 10vw;
  }

  #otsikkoKirppis {
    font-size: 8vw;
    margin-top: 1em;
  }

  #valiOtsikko {
    font-size: 6vw;
    margin-top: -20px;
    margin-bottom: 20px;
  }

  #etusivuKuva {
    margin: 20px auto;
    border-radius: 0px !important;
  }
  
  #kentta1 label,
  #kentta2 label,
  #kentta3 label,
  #kentta4 label {
    width: 100%;
    text-align: left;
    margin-top: 5px;
    margin-right: 0px;
  }
  
  .kenttaLayout {
    width: 200%;
  }

  #kategoriaTuotteet {
    margin: 40px auto;
    max-width: 100%;
  }
  
  #nappiKirjaudu,
  #nappiLuoTunnus {
    width: 180px;
    margin-top: 10px;;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 15px;
    background-color: #6eda8e;
    cursor: pointer;
    transition: .05s;
  }

  #nappiEtusivu,
  #nappiKategoriat,
  #nappiIlmoita,
  #nappiTuotehaku,
  #nappiKirjauduUlos {
    font-size: .8em;
    margin-top: 2px;
    width: 150px !important; 
  }

  #etusivuKuva {
    border-radius: 5px;
  }

  #palaaSivunAlkuun {
    bottom: 55px;
    width: 30px;
  }

  #laskuri {
    margin: -35px auto 15px;
    width: 96%;
  }

  .product-form {
    width: 100%;
  }

  .product-description {
    height: 120px;
    width: 96%;
  }

  .product-name {
    width: 96%;
  }
  
  .product-price {
    width: 38% !important;
  }
}

@media (min-width: 1921px) {

  body::before {
    display: block;
    content: "";
    height: 180px;
  }

  #otsikko {
    margin-top: 0px;
  }
}